/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

.lexend-font{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Lexend", sans-serif;
}


img {
    height: 100px;
    width: 100px;
    border: solid 3px #457B9D;
    border-radius: 30%;
}

#guide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #457B9D;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#guide-text {
    color: #F1FAEE;
    padding: 20px;
    text-align: left;
    margin-right: 20px;
}

.tom {
    border: solid 3px #F1FAEE;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px 20px 20px 20px;
}